= simple_form_for(@job, html: {class: 'form-horizontal'}) do |f|
	= f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category"}
	= f.input :title, lable: "Job Title"
	= f.input :description, lable: "Job Description"
	= f.input :company, lable: "Your Company"
	= f.input :url, lable: "Link to Job"
	%br/
	= f.button :submit
